# Database - use Supabase or local PostgreSQL
DB_USER="my_project_user"
DB_PASSWORD="my_password"
## El Pooler (Para la lógica de tu API)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@18.202.64.2:5432/postgres?sslmode=disable"
## La Directa (Para comandos de Prisma: migrate, push, etc.)
DIRECT_URL="postgresql://${DB_USER}:${DB_PASSWORD}@18.202.64.2:5432/postgres?sslmode=disable"

# Redis - for BullMQ
REDIS_URL="redis://localhost:6379"

# AWS - DynamoDB Local (docker-compose)
AWS_REGION="eu-west-1"
AWS_ACCESS_KEY_ID="local"
AWS_SECRET_ACCESS_KEY="local"
DYNAMODB_ENDPOINT="http://localhost:8000"

# OpenAI (for Worker)
OPENAI_API_KEY=""

# Google Maps (for address validation)
GOOGLE_MAPS_API_KEY=""